/*NAVBAR*/
.Navbar
{
	background-color: #E7FF00 !important;
	position: sticky;
  top: 0;
  z-index: 1000;
}

.LogoHoverNav
{
	width: 60px;
	height: 60px;
	background-image: url("../Media/Logo negro.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.LogoHoverNav:hover
{
	background-image: url("../Media/Logo azul.png");
}

.nav-item >a
{
	width: auto !important;
	font-family: Helvetica;
	font-weight: bolder;
	color: #252525;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.nav-item:hover >a
{
	color: #0901E8;
}  

#LoginButton 
{
	background-color: #E7FF00;
	border-color: #0E1514;
	border-style: solid;
	border-radius: 0px;
	border-width: 3px;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 0.4rem;
}

#LoginButton:hover 
{
	border-color: #0901E8;
}

#LoginButton >a
{
	text-decoration: none;
}

.navbar-toggler 
{
	border: none;
	color: transparent;
}

.GoogleInicio
{
	margin-left: auto;
	margin-right: auto;
}

.logo 
{
  width: 05%; 
  height: auto;
  margin-right: 10px; 
  vertical-align: middle;
}

.btn-outline-primary 
{
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-primary:hover 
{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus 
{
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled 
{
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle 
{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus 
{
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

/*SECTION01*/
.Hero
{
	background-image: url("../Media/BG Sobre Nosotros 01.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.MainBoxHero
{
	width: 80%;
	height: auto;
	padding-top: 15%;
}

.LogoHero
{
	width: 100%;
	height: auto;
}

h1
{
	padding-top: 2rem;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: justify;
	font-size: calc(3rem + 6vw);
	color: white;
}

/*SECTIONVIDEO*/
.BGImageVideo
{
  background-image: url("../Media/Hero Noticias.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainBoxVideo 
{
  position: relative;
  width: 70%;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.responsive-video 
{
  width: 100%;
  height: auto;
  display: block;
}

/*SECTION NUESTRA HISTORIA*/
.TeamRiders
{
	background-image: url("../Media/BG Nuestra Historia.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.MainBoxTR
{
	width: 80%;
	height: auto;
	padding-top: 05%;
	padding-bottom: 10%;
}

h3
{
	padding-top: 2rem;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: justify;
	font-size: calc(2rem + 7vw);
	color: white;
}

.TextTR
{
	margin-bottom: 3rem;
}

.TextTR >h2
{
	padding-bottom: 1.8%;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: justify;
	font-size: calc(1.1rem + 0.3vw);
	color: #E7FF00;
}

/*SECTION VALORES*/
.BackgroundValores
{
	background-color: #D2D2D2;
	height: auto;
}

.MainBoxValores
{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
  padding-bottom: 3.5%;
}

.colValores
{
	padding: 3.5rem;
}

.ImgValores
{
	width: 100%;
	height: auto;
	padding: 16%;
}

.colValores >h2
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica;
	font-size: calc(0.8rem + 0.3vw);
	color: #0E1514;
	font-weight: bolder;
	text-decoration: none;
	text-align: center;
}

/*SECTION IMG*/
.BackgroundImg
{
	background-image: url("../Media/Hero Noticias.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.MainBoxImg
{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 05%;
	padding-bottom: 20%;
}

.Img
{
	width: 100%;
	height: auto;
	margin-bottom: 8rem;
}

/*<!-- FOOTER  -->*/
.footer 
{
  position: relative;
  width: 100%;
  background: #060054;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu 
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item 
{
  list-style: none;
}

.social-icon__link 
{
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover 
{
  transform: translateY(-10px);
}

.FooterLetra > a
{
	font-family: Helvetica;
	font-weight: bolder;
	text-align: justify;
	font-size: calc(0.9rem + 0.3vw);
	color: white;
}

.menu__link 
{
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover 
{
  opacity: 1;
}

.footer p 
{
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave 
{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../Media/Olita.png");
  background-size: 1000px 100px;
}

.wave#wave1 
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 
{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 
{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves 
{
  0% 
  {
    background-position-x: 1000px;
  }
  100% 
  {
    background-positon-x: 0px;
  }
}

@keyframes animate 
{
  0% 
  {
    background-position-x: -1000px;
  }
  100% 
  {
    background-positon-x: 0px;
  }
}